<div>
  <h1 class="text-align-center flex items-center text-4xl font-extrabold dark:text-black">Distancia entre dos puntos</h1>
  <hr>
  <form class="max-w-sm mx-auto" [formGroup]="formularioDistancia">
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black" for="numX1">Número x1:</label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="numX1" formControlName="numX1" type="number" />
    </div>

    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black" for="numY1">Número y1:</label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="numY1" formControlName="numY1" type="number" />
    </div>

    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black" for="numX2">Número x2:</label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="numX2" formControlName="numX2" type="number" />
    </div>

    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black" for="numY2">Número y2:</label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="numY2" formControlName="numY2" type="number" />
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="resolver()">
      Resolver
    </button>

    <h2>Resultado: {{ resultadoDistancia }}</h2>
  </form>
</div>
